<section class="product__page">
  <div class="container mx-auto px-6 mt-6 lg:mt-12 lg:px-48">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-8 hero">
      <div class="product__img overflow-hidden rounded-2xl mb-6 lg:mb-0">
        <img src="hero.png" alt="" class="w-full object-cover" />
      </div>
      <div
        class="product__details flex flex-col border border-gray-200 border-solid rounded-xl lg:border-0"
      >
        <h2
          class="text-md lg:text-xl font-semibold mb-2 text-gray-900 pr-4 mt-4 lg:mt-0 lg:pr-0"
        >
          پکیج ۵ عددی روتین پوست چرب و مختلط
        </h2>
        <hr />
        <h2 class="text-gray-900 font-bold text-md mt-3 mb-3">
          ویژگی های محصول:
        </h2>
        <ul class="lg:list-disc pr-4 flex flex-col gap-2">
          <li class="text-gray-500">
            ترکیبی هدفمند از کرم نرم کننده و آبرسان 10% اوره اورلین و کرم دست و
            پا جی
          </li>
          <li class="text-gray-500">
            اثربخشی بالا در ترمیم و بهبود ترک های پاشنه پا
          </li>
          <li class="text-gray-500">
            لایه برداری قوی سلول های مرده و کاهش ضخامت پوست
          </li>
          <li class="text-gray-500">
            ایجاد یک لایه محافظ برای جلوگیری از دست رفتن رطوبت و آسیب بیشتر
          </li>
        </ul>

        <div class="product__brands flex items-center gap-2 mt-6">
          <span class="‌text-gray-900 font-medium text-md">برندها:</span>
          <ul class="flex gap-1 items-center">
            <li class="text-accent">فولیکا(Fulica)،</li>
            <li class="text-accent">درمالوگ(Dermalog)،</li>
            <li class="text-accent">فاربن(Farben)</li>
          </ul>
        </div>

        <div
          class="actions hidden items-center justify-between mt-auto lg:flex"
        >
          @if(!notInCart()){
          <button appButton (click)="onAddProductToCart()">
            افزودن به سبد خرید
          </button>
          } @else {
          <div class="flex flex-col relative">
            <div
              class="form-group relative py-4 px-2 rounded-xl bg-white border border-solid border-gray-100 shadow-md"
            >
              <i
                class="icon-minus absolute cursor-pointer left-2 top-1/2 text-gray-500 -translate-y-1/2"
                (click)="onMinusBtnClicked()"
              ></i>
              <form [formGroup]="form">
                <input
                  class="text-center border-none outline-none"
                  formControlName="shoppingCardInput"
                />
              </form>
              <i
                class="icon-plus absolute cursor-pointer right-2 top-1/2 text-gray-500 -translate-y-1/2"
                (click)="onPlusBtnClicked()"
              ></i>
            </div>

            @if(maxStockReached()){
            <span class="text-red-500 text-xs absolute -bottom-5 w-full"
              >تعداد بیش از حد مجاز امکان پذیر نیست</span
            >

            }
          </div>
          }

          <div class="price flex flex-col">
            <div class="flex items-center gap-2 mb-3">
              <span class="line-through text-md text-gray-500">۳,۹۳۵,۰۰۰</span>
              <span class="bg-red-600 text-white py-1 px-3 rounded-xl text-sm"
                >۲۰٪</span
              >
            </div>
            <span class="text-gray-500 font-bold text-lg">۳,۰۰۰,۰۰۰ تومان</span>
          </div>

          <div class="quantity flex items-center gap-2">
            <div class="flex gap-1 items-center">
              <i class="icon-warehouse text-green-500 text-md"></i>
              <span class="text-sm text-gray-500"> باقی مانده: </span>
            </div>
            <span>{{ productQuantity }} عدد</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Product cards -->
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-4 my-16">
      <app-product-card [productInfo]="product"></app-product-card>
      <app-product-card [productInfo]="product"></app-product-card>
      <app-product-card [productInfo]="product"></app-product-card>
      <app-product-card [productInfo]="product"></app-product-card>
    </div>

    <!-- Tabbed content (Desktop)-->
    <div class="my-16 hidden lg:block">
      <app-tabbed-content [tabs]="tabs"></app-tabbed-content>
    </div>

    <!-- Accrodion (Mobile)-->
    <div class="my-16 lg:hidden">
      <app-tabbed-content [tabs]="tabs"></app-tabbed-content>
    </div>
  </div>
</section>
