<div class="accordion border border-solid border-gray-300 rounded-2xl">
  <div class="accordion__item border-b border-solid border-gray-300">
    <div
      class="accordion__header flex justify-between items-center p-4"
      (click)="toggleAccordion(1)"
    >
      <h3
        class="accordion__title transition duration-100 flex items-center gap-2"
        [ngClass]="{ 'text-customGreen': isOpen() === 1 }"
      >
        <i class="icon-description"></i>
        توضیحات تکمیلی محصول
      </h3>
      <button
        class="accordion__toggle lh-0 duration-300 transition-all outline-none border-none"
        aria-expanded="false"
        [ngClass]="{ 'rotate-180': isOpen() === 1 }"
      >
        <i class="icon-chevron-down"></i>
      </button>
    </div>
    <div class="accordion__content p-4" [hidden]="isOpen() !== 1">
      <p class="text-sm text-gray-500">
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده
        از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و
        سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
        متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه
        درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با
        نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
        خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید
        داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان
        رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات
        پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
      </p>
    </div>
  </div>

  <div class="accordion__item">
    <div
      class="accordion__header flex justify-between items-center p-4"
      (click)="toggleAccordion(2)"
    >
      <h3
        class="accordion__title flex items-center gap-2"
        [ngClass]="{ 'text-customGreen': isOpen() === 2 }"
      >
        <i class="icon-comment"></i>
        نظرات
      </h3>
      <button
        class="accordion__toggle lh-0 duration-300 transition-all"
        aria-expanded="false"
        [ngClass]="{ 'rotate-180 ': isOpen() === 2 }"
      >
        <i class="icon-chevron-down"></i>
      </button>
    </div>
    <div class="accordion__content p-4" [hidden]="isOpen() !== 2">
      <p class="text-sm text-gray-500">هنوز نظری ثبت شده است</p>
    </div>
  </div>
</div>
