<div class="accordion border border-solid border-gray-300 rounded-2xl">
  @for (item of items(); track $index) {
  <div
    class="accordion__item"
    ngClass="{ 'border-b border-solid border-gray-300': !$last }"
  >
    <div
      class="accordion__header flex justify-between items-center p-4"
      (click)="toggleAccordion($index)"
    >
      <h3
        class="accordion__title transition duration-100 flex items-center gap-2"
        [ngClass]="{ 'text-customGreen': isOpen() === $index }"
      >
        <i [class]="item.icon"></i>
        {{ item.title }}
      </h3>
      <button
        class="accordion__toggle lh-0 duration-300 transition-all outline-none border-none"
        aria-expanded="false"
        [ngClass]="{ 'rotate-180': isOpen() === 1 }"
      >
        <i class="icon-chevron-down"></i>
      </button>
    </div>
    <div class="accordion__content p-4" [hidden]="isOpen() !== 1">
      <p class="text-sm text-gray-500">
        {{ item.content }}
      </p>
    </div>
  </div>
  }
</div>
